@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;

}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  text-align: center;
  min-height: 100%;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 1px 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  margin-left: 115px;
}

.header-logo {
  padding-left: 0;
}

.header-logo-link {
  display: flex;
}

.button-search {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  /* display: block;
  align-items: center;
  text-align: center; */
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;

}

.welcome-sedona {
  background-image: url("../images/background/sedona-background.jpg");
  background-size: cover;
  background-color: #ffe4c4;
  background-repeat: no-repeat;
  text-align: center;
}

.logo {
  margin-top: 0%;
  /* margin-bottom: 15%; */
}

.main {
  /* text-align: center; */
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  flex-grow: 1;
}


h2 {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

h3 {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.button,
.htmlacademy-link,
.navigate-link,
.hotel-card-link,
.pagination-link,
.social-link,
.navigate-link-search,
.breadcrumbs-link {
  text-decoration: none;
}

.navigate-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;

}

.navigate {
  display: flex;
  flex-direction: row;
}

.navigate-list-first {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-grow: 1;
  flex-wrap: wrap;
}

.navigate-list-second {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-right: 70px;
}

.want-here-link a {
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  min-width: 160px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  display: block;


}

.places-list {
  padding: 0;
}

.places-items {
  display: flex;
  flex-direction: row;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  background-color: #82b3d3;
  color: #ffffff;
}

.places-items-title {
  color: #ffffff;
  width: 300px;
}


.places-items-description {
  text-transform: none;
}

.places-description {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;

}

.places-subtitle-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  /* background: rgba(131, 179, 211, 0.12); */
  color: #000000;

}

.places-subtitle-description {
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-grow: 1; */
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* or 117% */
  text-align: center;
  color: #333333;
}

.places-subtitle-title {
  display: flex;
  flex-direction: column;
}

.places-subtitle {
  background: #f0f6fa;


}

.places-subtitle-nice-road {
  display: flex;
  flex-direction: column;
  background: rgba(131, 179, 211, 0.2);

}

.three-items {
  display: flex;
  flex-grow: 1;
  padding: 0;
  padding-right: 0;


}

.services-items-1 {
  display: flex;
  flex-direction: row;
  background: #f0f6fa;
  /* text-align: center; */
  align-items: center;
}

.services-items {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 0;
  /* text-align: center; */
  align-items: center;
}

.services-items-title {
  /* display: flex;
  flex-direction: row; */
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* text-align: center; */
  text-transform: uppercase;
  color: #000000;
  align-items: center;
}

.services-description {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  /* text-align: center; */
  color: #333333;
  align-items: center;

}

.icon-home {
  text-align: left;
}
.cards-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.interested-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.interested-description {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}


.subscribe {
  background-image: url("../images/background/background-sedona-footer.jpg");
  background-size: cover;
  background-color: #ffe4c4;
  background-repeat: no-repeat;
}

.subscribe-title {
  /* margin-top: 10%; */
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-description {
  /* margin-top: 10%; */
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.subscribe-form {
  /* margin-top: 10%; */
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #000000;

}

.subscribe-email {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}


.button-email {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #82B3D3;
  border: none;

}

.catalog-hotels-background {
  /* display: flex; */
  background-image: url("../images/background/background-search.jpg");
  background-size: cover;
  background-color: #ffe4c4;
  background-repeat: no-repeat;
  padding-left: 70px;
  padding-right: 70px;
}

.catalog-header-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  text-align: left;
}


.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;

}

.catalog-filter-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;

}

.catalog-filter-item {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.button-catalog {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #82b3d3;
  border-radius: 4px;
  min-width: 191px;
  height: 36px;

}

.button-clear-button-catalog {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  color: #ffffff;
  padding: 0;
  border: none;
  background: none;
}

.filling {
  display: flex;
  /* flex-grow: 1; */
  flex-direction: row;
  justify-content: space-between;
}

.find-hotels-sort {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

}

.hotel-card-title {
  text-align: center;
}

.hotel-list{
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 20; */
}
.cards{
  display: flex;
  flex-direction: row;
}
.hotel-card-type {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;


}

.hotel-card-rating {
  text-transform: uppercase;
}

.find-hotels {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;

}

.hotel-card-button-detail-button {
  font-family: inherit;
  background: #756157;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.button-hotel-card-to-selected {
  font-family: inherit;
  background: #7DB54F;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;

}

.button-hotel-card-to-select {
  font-family: inherit;
  background: #82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.cards-any {
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 4px;

}

.cards-one,
.cards-list {
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}


.pagination-link-pagination-current {
  display: block;
  text-align: center;
  line-height: 60px;
  min-width: 60px;
  height: 60px;
  background: #F2F2F2;
  border-radius: 4px;
}

.pagination-link {
  margin-top: 8px;
  display: block;
  text-align: center;
  line-height: 60px;
  min-width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
  color: #ffffff;
}

.phone-footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.page-footer {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  height: 120px;
  margin-left: 82px;
  margin-right: 70px;
}

.social-contact {
  display: flex;
  /* flex-grow: 1; */
  flex-direction: row;
  align-items: center;
}

.phone-footer {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
