@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;

}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}


.welcome-sedona {
  background-image: url("../images/background/sedona-background.jpg");
  background-size: cover;
  background-color: #ffe4c4;
  background-repeat: no-repeat;
}

.main {
  text-align: center;
}


h2 {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

h3 {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* or 117% */
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}


.places-description {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;

}


.places-items-title {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  background-color: #82b3d3;
  color: #ffffff;
}

.places-items-description {
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;

}


.places-subtitle-title {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* or 117% */
  text-align: center;
  text-transform: uppercase;
  color: #000000;

}

.places-subtitle-description {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* or 117% */
  text-align: center;
  color: #333333;


}


.services-items-title {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}


.services-items-description-food {
  content: url("../images/icons/food.svg");
  width: 75px;
  height: 72px;
}

.services-items-description-live {
  content: url("../images/icons/housing.svg");
  width: 75px;
  height: 72px;
}

.services-items-description-souvenirs {
  content: url("../images/icons/souvenirs.svg");
  width: 75px;
  height: 72px;
}


.interested-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.interested-description {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.button-search {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;

}

.subscribe {
  background-image: url("../images/background/background-sedona-footer.jpg");
  background-size: cover;
  background-color: #ffe4c4;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-description {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.subscribe-form {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #000000;

}

.subscribe-email {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #000000;


}


.button-email {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #82B3D3;

}


.social-item-vk {
  text-align: center;
  background-image: url("../images/social/vkontakte.svg");
  background-repeat: no-repeat;
}

.social-item-telegram {
  text-align: center;
  background-image: url("../images/social/telegram.svg");
  background-repeat: no-repeat;
}

.social-item-youtube {
  text-align: center;
  background-image: url("../images/social/youtube.svg");
  background-repeat: no-repeat;
}

.htmlacademy {
  text-align: center;
  background-image: url("../images/html-academy.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.catalog-hotels-background {
  background-image: url("../images/background/background-search.jpg");
  background-size: cover;
  background-color: #ffe4c4;
  background-repeat: no-repeat;
}

.catalog-header-title {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.icon-home {
  content: url("../images/icons/home.svg");
  width: 12px;
  height: 12px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;

}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;

}

.catalog-filter-item {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
