@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;

}

html {
  height: 100%;
}

.visually-hidden.h1 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  text-align: center;
  min-height: 100%;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 1px 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  /* margin-left: 115px; */
  /* padding-left: 70px;
padding-right: 70px; */
  padding: 0 70px 0 70px;

}

.header-logo {
  /* padding-left: 0; */
  display: block;
}

.header-logo-link {
  /* display: flex; */
  display: block;
}

.button-search {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  width: 376px;
  height: 52px;
}

.button {
  /* margin: 0; */
  padding: 54px 412px 96px 412px;
}

.welcome-sedona {
  background-image: url("../images/background/sedona-background.jpg");
  background-size: cover;
  background-color: #ffe4c4;
  background-repeat: no-repeat;
  margin-top: 0;
}

.logo {
  margin: 50px auto 80px auto;
}

.main {
  /* flex-grow: 1; */
}


h2 {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

h3 {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.button,
.htmlacademy-link,
.navigate-link,
.hotel-card-link,
.pagination-link,
.social-link,
.navigate-link-search,
.breadcrumbs-link {
  text-decoration: none;
}


.navigate-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
  list-style-type: none;
  /* padding: 20px 16px 20px 16px; */

}

.navigate {
  display: flex;
  flex-direction: row;
}

.navigate-list-first {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-grow: 1;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
}

.navigate-list-second {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-grow: 1;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
}

.want-here-link a {
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  min-width: 160px;
  height: 36px;
  line-height: 36px;
  /* text-align: center; */
  display: block;


}

.places-title {
  /* margin: 69px 290px 69px 290px; */
}

.places-description {
  margin-bottom: 90px;
}

.places-list {
  padding: 0;
}

.places-title.h2 {
  margin: 69px 290px 25px 290px;
  ;
}

.places-items {
  display: flex;
  flex-direction: row;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  background-color: #82b3d3;
  color: #ffffff;
}

.places-items-title {
  color: #ffffff;
  margin: 102px 113px 62px 102px;
  /* width: 300px; */
}

/* .places-items-title.h3{
  display: inline;

} */

.places-items-description {
  text-transform: none;
  margin: 0 85px auto 85px;
}

.places-description {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding-bottom: 64px;
}

/* .places-description.p{
 margin-top: 0;
} */
.places-subtitle-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  /* background: rgba(131, 179, 211, 0.12); */
  color: #000000;
  margin-bottom: 62px;

}

.places-subtitle-description {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
  /* padding-left: 85px; */
  /* margin: 0; */
}

.places-subtitle-description.p {
  padding-top: 62px;
  padding-left: 85px;
  padding-right: 85px;
}

.places-subtitle-title {
  /* display: flex;
  flex-direction: column; */
  margin: 113px 113px 0 113px;
}

.places-subtitle {
  background: #f0f6fa;
  width: 400px;
  height: 385px;
  list-style-type: none;
  /* display: inline;
  margin: 0 auto; */
  /* padding: 113px 113px 0 113px; */


}

.places-subtitle-nice-road {
  /* display: flex;
  flex-direction: column; */
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 385px;
  list-style-type: none;
  /* padding: 113px 113px 0 113px; */
}

.services-title.h2 {
  margin: 0;
}

.services-title {
  padding: 64px 345px 0 345px;
}

.three-items {
  display: flex;
  flex-grow: 1;
  /* justify-content: baseline; */
  margin: 0;




}

.services-item {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: 385px;
  margin-bottom: 0;
  padding: 0;

}

.services-items-1 {
  /* display: flex;
  flex-direction: row; */
  /* justify-content: space-between; */
  background: #f0f6fa;
  height: 385px;

  /* text-align: center; */
  /* align-items: center;
  padding: 81px 85px 81px 85px; */

}

.services-items {
  /* display: flex;
  flex-direction: row;
  flex-grow: 1; */
  /* padding-left: 0; */
  margin-top: 0;
  margin-bottom: 0;


  /* padding: 81px 85px 81px 85px; */
  /* text-align: center; */
  /* align-items: center;
  margin: 0; */
}

.services-items-title {
  /* display: flex;
  flex-direction: row; */
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  align-items: center;
  margin: 183px 85px 0 85px;
}

.services-description {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  /* text-align: center; */
  color: #333333;
  align-items: center;
  padding-bottom: 64px;

}

.services-items-description {
  margin: 0;
  padding: 30px 85px 0 85px;
}

.icon-home {
  text-align: left;
}

.cards-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.interested-title {
  font-family: inherit;
  /* display: block; */
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  /* margin: 0; */
  /* padding: 96px 452px 0 452px; */
  padding-top: 96px;
}

.interested-title.h2 {
  margin: 0;
  /* padding: 96px; */
}

.interested-description {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  /* text-align: center; */
  color: #333333;
  margin: 0;
  /* padding: 20px 304px 106px 304px; */
  padding: 0;

}

.interested-description.p {
  /* margin: 20px 304px 0 304px; */
  /* padding-left: 304px; */
  padding: 20px 304px 0 304px;
}


.interested {
  /* padding: 96px 304px 0 304px; */
  /* display: inline-block; */
  /* display: inline; */
  /* width: 592px;
  height: 214px; */
  /* padding: 96px 452px 0 452px; */
}

.subscribe {
  background-image: url("../images/background/background-sedona-footer.jpg");
  background-size: cover;
  background-color: #ffe4c4;
  background-repeat: no-repeat;
  padding: 96px 0 104px;

}
.subscribe-catalog{
  padding: 96px 0 104px;

}

.subscribe-title {
  /* margin-top: 10%; */
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-title.h2 {
  margin: 0;
  padding: 0 398px 20px 398px;
}

.subscribe-description {
  /* margin-top: 10%; */
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
.subscribe-description-catalog{
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.subscribe-description.p {
  margin: 0;
  padding: 0 363px 54px 363px;
}

.subscribe-form {
  /* margin-top: 10%; */
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #000000;

}

.subscribe-email {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}


.button-email {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #82B3D3;
  border: none;
  width: 232px;
  height: 52px;
  padding: 0;
}

.field {
  width: 452px;
  height: 52px;
  padding-right: 0;
  padding-left: 20px;
}

.catalog-hotels-background {
  /* display: flex; */
  background-image: url("../images/background/background-search.jpg");
  background-size: cover;
  background-color: #ffe4c4;
  background-repeat: no-repeat;
  padding-left: 70px;
  padding-right: 70px;
}

.catalog-header-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  text-align: left;
}

/* .breadcrumbs-item{
  display: flex;
  flex-direction: column;
} */
.breadcrumbs-link {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;

}

.catalog-filter-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;

}

.catalog-filter-item {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.button-catalog {
  display: flex;
  flex-direction: row;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #82b3d3;
  border-radius: 4px;
  min-width: 191px;
  height: 36px;
}

.button-clear-button-catalog {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  color: #ffffff;
  padding: 0;
  border: none;
  background: none;
}

.find-hotels {
  margin-left: 170px;
}

.filling {
  display: flex;
  /* flex-grow: 1; */
  flex-direction: row;
  justify-content: space-between;
}

.find-hotels-sort {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

}

.hotel-card-title {
  text-align: center;
}

.hotel-list {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 190px;
}

.cards {
  display: flex;
  flex-direction: row;
}

.hotel-card-type {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;


}

.hotel-card-rating {
  text-transform: uppercase;
}

.find-hotels {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;

}

.find-hotels-sort {
  display: flex;
}

.hotel-card-button-detail-button {
  font-family: inherit;
  background: #756157;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.button-hotel-card-to-selected {
  font-family: inherit;
  background: #7DB54F;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;

}

.button-hotel-card-to-select {
  font-family: inherit;
  background: #82B3D3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.cards-filter {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.cards {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
}

.cards-view {
  display: flex;
  flex-direction: row;
}

.cards-any {
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 4px;

}

.cards-one,
.cards-list {
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

/* .pagination-link-pagination-current {
  align-content: first baseline;

  display: flex;
  flex-direction: row;
} */

.pagination {
  margin-left: 70px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-grow: 1;
}

.pagination-item {
  display: flex;
  flex-direction: row;
}

.pagination-link-pagination-current {
  display: block;
  text-align: center;
  line-height: 60px;
  min-width: 60px;
  height: 60px;
  background: #F2F2F2;
  border-radius: 4px;
}

.pagination-link {
  display: block;
  text-align: center;
  line-height: 60px;
  min-width: 60px;
  height: 60px;
  background: #82B3D3;
  border-radius: 4px;
  color: #ffffff;
}
.pagination-link.points{
  display: block;
  text-align: center;
  line-height: 60px;
  min-width: 60px;
  height: 60px;
  background: #ffffff;
  color: #000000;
}

.phone-footer-link {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  width: 331px;
  /* padding-right: 70px; */
  /* justify-self: flex-start; */
}

.page-footer {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  height: 120px;
  /* justify-content: space-between; */
  margin-left: 82px;
  margin-right: 70px;
}

.social-contact {
  display: flex;
  /* flex-grow: 1; */
  flex-direction: row;
  align-items: center;
  padding-right: 70px;
}

.social-link {
  display: flex;
  justify-content: space-between;
  gap: 3px;

}

.phone-footer {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 70px;
}
