@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans" , sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #333333;

.welcome-sedona{
  background-image: url("../images/background/sedona-background.jpg") ;
  background-size: cover;
  background-color:#ffe4c4;
  background-repeat: no-repeat;
}



}
